main{
    width:calc(100% - 60px); margin:0 auto;
    padding:30px; 
}
/* 스와이퍼 슬라이드 */
main #product_slide {margin-bottom: 100px;;}
main #product_slide .swiper-wrapper {}
main #product_slide .swiper-wrapper .swiper-slide {
    width:700px; height: 740px; margin:0 auto;
}
main #product_slide .swiper-wrapper .txt {
    margin:533px 50px; width: 300px;
    /* 초기 숨기기(이후 wiper 활용 서서히 나타나고 사라지기 기능추가) */
    opacity:0; transition: opacity 2s, transform 2s;
    transform: translateX(100px);
    
}
main #product_slide .swiper-wrapper .txt dt{line-height: 2rem;}
main #product_slide .swiper-wrapper .txt dt em{font-size: 2rem; font-weight: 600;}
main #product_slide .swiper-wrapper .txt dd{line-height: 2rem; font-weight: 600;}
main #product_slide .swiper-wrapper .slide1 {background: url(../images/model/model_01.jpg);}
main #product_slide .swiper-wrapper .slide1 .txt {}
main #product_slide .swiper-wrapper .slide5 .txt{color:#fff;}
main #product_slide .swiper-wrapper .slide1 .txt dt {}
main #product_slide .swiper-wrapper .slide1 .txt dt em { }
main #product_slide .swiper-wrapper .slide1 .txt dd {}
main #product_slide .swiper-wrapper .slide2 {background: url(../images/model/model_02.jpg);}
main #product_slide .swiper-wrapper .slide3 {background: url(../images/model/model_03.jpg);}
main #product_slide .swiper-wrapper .slide4 {background: url(../images/model/model_04.jpg);}
main #product_slide .swiper-wrapper .slide5 {background: url(../images/model/model_06.jpg);}
main #product_slide .swiper-wrapper .slide6 {background: url(../images/model/model_08.jpg);}
/* 스와이퍼 스크롤바 디자인 */
main #product_slide .swiper-scrollbar { 
    position: relative; left:50%; bottom:20px; transform: translateX(-50%);
    background: #fff; width:500px;
} /*스크롤 배경*/
main #product_slide .swiper-scrollbar-drag {
    background: #000; position: absolute;
} /*스크롤 막대*/
/* 카테고리 */
main #category{
    
    width: 1350px; margin:0 auto;
    text-align: center;
}
main #category .glasses_gory {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main #category .glasses_gory li {display: flex; flex-flow: column nowrap; align-items: center;}
main #category .glasses_gory li a{}
main #category .glasses_gory li span{margin-top:10px;}

/* 프로덕트 타이틀 */
main #product_list {}
main #product_list .title {margin-top:65px;}
main #product_list .title .t_top{ 
    display:flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center;
    }
main #product_list .title .t_top h1{
    font-size: 2rem; line-height: 2rem; 
    font-weight: 700;}
main #product_list .title .t_top .t_t_right{
    display:flex; flex-flow: row nowrap;}
main #product_list .title .t_top .t_t_right a{margin-left: 40px;}
main #product_list .title .t_top .t_t_right a p{}
main #product_list .title span{
    display: block;
    width:100%;
    height: 2px;
    background: #000;
    margin:30px 0 23px;
}
main #product_list .title .t_buttom {
    display:flex; flex-flow: row nowrap; justify-content: space-between;}
main #product_list .title .t_buttom p {font-size: 0.8rem;}
main #product_list .title .t_buttom p #product_align {}
main #product_list .title .t_buttom p #product_align option {
    font-size: 0.8rem;
}
/* 프로덕트 사진상품 */
main #product_list .container {
    display:flex; flex-flow: row nowrap; justify-content:space-between;
    margin-top:92px; 
}
main #product_list .container .container0 {}
main #product_list .container .container0 .box {
    position: relative; width:350px;
}
main #product_list .container .container0 .box .item_img {
    
    }
main #product_list .container .container0 .box .item_img img {width:100%;}
main #product_list .container .container0 .box .like_img {
    position: absolute; z-index: 999; right:13px; top:13px;}
main #product_list .container .container0 .box .like_img img {width: 100%;}
main #product_list .container .txt {
    display:flex; flex-flow: column nowrap; margin-top:10px;
}
main #product_list .container .txt h2 {font-size: 0.8rem;}
main #product_list .container .txt .name {
    margin:10px 0 10px;}
main #product_list .container .txt .name p  {
    font-weight:600;}
main #product_list .container .txt .price  {}
main #product_list .container .txt .price p {}
main #product_list .container .color {
    margin-top:12px; display: flex; flex-flow: row nowrap;
}
main #product_list .container .txt .color span{
    width:24px; height: 24px; border-radius: 12px; display: block;
    margin-right: 10px;
}
main #product_list .container .c1_color .color1 {background:#2E2E2E; }
main #product_list .container .c1_color .color2 {background:#FFA553;}
main #product_list .container .c2_color .color1 {background-color: #FF5959;}
main #product_list .container .c2_color .color2 {background: #FF5959;}
main #product_list .container .c2_color .color2 {background: #FF66E7;}
main #product_list .container .c2_color .color3 {background: #5B4DFF;}
main #product_list .container .c2_color .color4 {background: #98FF47;}
main #product_list .container .c3_color .color1 {background: #8D8D8D;}
main #product_list .container .c3_color .color2 {background: #000000;}
main #product_list .container .c3_color .color3 {background: #FA00FF;}
main #product_list .container .c3_color .color4 {background: #59009F;}
main #product_list .container .c3_color .color5 {
    background: #fff; border:1px solid black}
main #product_list .container .c3_color .color6 {background: #4A0404;}
main #product_list .container .c4_color .color1 {background: #000;}
main #product_list .container .c4_color .color2 {background: #FF8024;}
main #product_list .container .c5_color .color1 {background: #030084;}
main #product_list .container .c5_color .color2 {background: #6F0056;}
main #product_list .container .c5_color .color3 {background: #004D15;}

/* 모음집 */
main #product_list .container .item_img img{ /*사진 이미지*/
    width:80%;
}
@keyframes txt {
    0%{transform: translateX(200px);}
    100%{transform: translateX(0);}
}
